{% include 'navbar(signed).html' %}
<!-- Insert Form -->
<div class="p-4 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-7 fw-bold text-center mb-2">EDIT MAINTENANCE</h1>
        <form id="form-insert" action="" method="POST">
            
            <label for="inputMachine" class="mb-2">MACHINE</label>
            <select class="form-control" id="inputMachine" name= "inputMachine">
                {% for i in machine %}
                    {% if i.mac_code == row.mac_code %}
                        <option value='{{i.mac_code}}' selected="selected">{{i.mac_name}}</option>
                    {% else %}
                        <option value='{{i.mac_code}}'>{{i.mac_name}}</option>
                    {% endif %}
                {% endfor %}
            </select><br>
                        
            <label for="start">Maintenance Type: &emsp;</label><br><br>
            <input type="radio" id="Preventive" name="main" value="Preventive" {% if row.trans_type == 'Preventive' %}checked{% endif %}>
            <label for="Preventive">Preventive</label>&emsp;&emsp;

            <input type="radio" id="Breakdown" name="main" value="Breakdown" {% if row.trans_type == 'Breakdown' %}checked{% endif %}>
            <label for="Breakdown">Breakdown</label><br><br>

            <label for="Breakdown">Breakdown date:&nbsp;</label>
            <input type="datetime-local" id="breakDate" name="breakDate" value="{{row.trans_date}}" min="2023-01-01T00:00" max="2024-12-31T00:00"><br><br>

            <label for="start">Repair Start date:</label>
            <input type="datetime-local" id="startDate" name="startDate" value="{{row.start_date}}" min="2023-01-01T00:00" max="2024-12-31T00:00"><br><br>

            <label for="end">Repair End date:&ensp;</label>
            <input type="datetime-local" id="endDate" name="endDate" value="{{row.end_date}}" min="2023-01-01T00:00" max="2024-12-31T00:00"><br><br>

            <label for="prod">Production Loss Time: </label>
            <input type="number" id="productionTime" name="productionTime" min="0" step="1" value="{{row.prod_loss_min}}" size="5">&nbsp;(min)<br><br>

                <input type="checkbox" name="completed" {% if row.completed == 1 %}checked{% endif %}> COMPLETED<br><br>      

            <button class="btn btn-lg btn-primary btn-block" type="submit">Save Details</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('form-insert').addEventListener('submit', async (e) => {
      e.preventDefault();

        const trans_num = '{{ row.trans_num }}';  
        const mac_code = '{{ row.mac_code }}';   

        // Retrieve form data
        const formData = new FormData(e.target);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });
  
        // Get CSRF token from cookies
        const csrfToken = document.cookie.split('; ').find(row => row.startsWith('csrf_access_token')).split('=')[1];

        const route = `/editTrans/${trans_num}/${mac_code}`;  
  
        const response = await fetch(route, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': csrfToken,  // Include CSRF token in headers
            },
            body: JSON.stringify(data),
            credentials: 'include'  // Include cookies (JWT and CSRF) in the request
        });

        const hello = await response.json();

        if (response.ok) {
            alert(hello.message);
            window.location.href = '/view_trans';
        } else {
            alert('Error: ' + hello.message);
        }
        });
  </script>

{% include 'footer.html' %}
