{% include 'navbar(signed).html' %}
<!-- Insert Form -->
<div class="p-4 mb-4 bg-light rounded-3">
  {% if session.user_level == 'MANAGER' %}
  <div class="container-fluid py-5">
    <h1 class="display-7 fw-bold text-center mb-2">ADD MACHINE</h1>

    <form id="form-insert" action="/api/insert_mac" method="POST">
      
      <label for="inputCode" class="mb-2">Machine Code</label>
      <input type="text" name="inputCode" id="inputCode" class="form-control" placeholder="Machine Code" required autofocus/> <br>
      
      <label for="inputName" class="mb-2">Machine Name</label><br>
      <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Machine Name" required autofocus/><br>
      
      <label for="inputDescription" class="mb-2">Machine Description</label>
      <input type="text" name="inputDescription" id="inputDescription" class="form-control" placeholder="Machine Description" required autofocus/><br>

      <label for="inputCategory" class="mb-2">Machine Category</label>
      <select class="form-control" id="inputCategory" name="inputCategory">
        <option value="" selected="selected">Select a Category</option>
        {% for i in category %}
        <option value='{{ i.mac_cat_code }}'>{{ i.mac_cat_name }}</option>
        {% endfor %}
      </select><br>

      <label for="inputLocation" class="mb-2">Machine Location</label>
      <select class="form-control" id="inputLocation" name="inputLocation">
        <option value="" selected="selected">Select a Location</option>
        {% for i in location %}
        <option value='{{ i.mac_loc_code }}'>{{ i.mac_loc_name }}</option>
        {% endfor %}
      </select><br>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Insert</button>      
    </form>
  </div>
  {% else %}
    <div class="container-fluid d-flex justify-content-center align-items-center min-vh-100">
        <h1 class="text-center fw-bold display-5">YOU ARE NOT AUTHORIZED</h1>
    </div>
  {% endif %}
</div>
  {% include 'footer.html' %}
