{% include 'navbar.html' %} 
<div class="bg-light rounded-3 mb-4 p-5">
	<div class="container-fluid py-5">
		<h1 class="text-center fw-bold display-5">CMMS App</h1>
		<form id="form-insert" action="" method="POST">
			
			<label for="inputEmail" class="mb-2">Email address</label><br>
			<input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus><br>
			
			<label for="inputPassword" class="mb-2">Password</label><br>
			<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required><br>

			<button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		</form>
	</div>
</div>     
{% include 'footer.html' %}
</body>
</html>