{% include 'navbar(signed).html' %}
<div class="bg-light rounded-3 mb-4 p-5">
    <div class="container-fluid py-5">
        <form id="form-insert" action="/report" method="POST">
            <label for="inputMachine" class="sr-only mb-2">MACHINE</label>
            <select class="form-control" id="inputMachine" name= "inputMachine">
                <option value="" selected="selected">Select a Machine</option>
                {% for i in machine %}
                <option value='{{i.mac_code}}'>{{i.mac_code}} -> {{i.mac_name}}</option>
                {% endfor %}
            </select>
            <br>

            <label for="start">Transaction Date From:</label>
            <input type="date" id="startDate" name="startDate" value="2023-04-01" min="2023-01-01" max="2024-12-31">
            <br><br>

            <label for="endDate">Transaction Date To:&emsp;&nbsp;</label>
            <input type="date" id="endDate" name="endDate" value="2023-04-02" min="2023-01-01" max="2024-12-31"><br><br>
            <button class="btn btn-lg btn-outline-info btn-block" type="submit">Search</button>
        </form><br>
        
        {% if transactions %}
        <div class="table-responsive">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">TRANSACTON NUM</th>
                        <th scope="col">MACHINE CODE</th>
                        <th scope="col">MACHINE NAME</th>
                        <th scope="col">TRANSACTON TYPE</th>
                        <th scope="col">TRANSACTON DATE</th>
                        <th scope="col">START DATE</th>
                        <th scope="col">END DATE</th>
                        <th scope="col">PRODUCTION LOSS TIME (MIN)</th>
                        <th scope="col">REPAIR HOURS</th>
                        <th scope="col">TOTAL MAINTENANCE HOURS</th>
                        <th scope="col">COMPLETED</th>
                    </tr>
                </thead>
                {% for row in transactions %}
                <tr>
                    <td>{{row.trans_num}}</td>
                    <td>{{row.mac_code}}</td>
                    <td>{{row.mac_name}}</td>
                    <td>{{row.trans_type}}</td>
                    <td>{{row.trans_date}}</td>
                    <td>{{row.start_date}}</td>
                    <td>{{row.end_date}}</td>
                    <td style="text-align:center;">{{row.prod_loss_min}}</td>
                    <td style="text-align:center;">{{row.repair_hours}}</td>
                    <td style="text-align:center;">{{row.total_break_hours}}</td>
                    {% if row.completed == 0 %}
                    <td style="text-align:center;"><input type="checkbox" onclick="return false;"></td>
                    {% else %}
                    <td style="text-align:center;"><input type="checkbox" checked onclick="return false;"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    </div>
</div>
{% include 'footer.html' %}
</body>
<script>
    const startDateField = document.getElementById('startDate');
    const endDateField = document.getElementById('endDate');
    startDateField.addEventListener('change', (event) => {
        const startDate = new Date(event.target.value);
        startDate.setDate(startDate.getDate() + 1);
        const endDate = startDate.toISOString().split('T')[0];
        endDateField.setAttribute('min', endDate);
        if (endDateField.value < endDate) {
            endDateField.value = endDate;
        }
    });
</script>
</html>