{% include 'navbar.html' %}
<style>
  .jumbotron-custom {
    background-color: #f07862; 
  }
</style>
  <!-- <div class="jumbotron jumbotron-fluid jumbotron-custom"> -->
    <div class="jumbotron jumbotron-fluid btn-lg">
    <div class="container-fluid text-center"><br>
      <h1 class="display-4">Welcome to CMMS APPLICATION</h1>
      <hr class="my-4">
      &nbsp;<br />&nbsp;<br />&nbsp;<br />
      <!-- <h1 class="text-center display-7">Are you a new user or returning user?</h1><br> -->
      <p class="lead">
        <!-- <a class="btn btn-primary btn-lg mr-3" href="signup" role="button">Sign up</a>&emsp; -->
        <a class="btn btn-success btn-lg" href="login" role="button">Log in</a>
      </p>&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br />
    </div>
  </div>
{% include 'footer.html' %}
</body>
</html>

