{% include 'navbar(signed).html' %}
<!-- Insert Form -->
<div class="p-4 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-7 fw-bold text-center mb-2">ADD MAINTENANCE</h1>
        <form id="form-insert" action="" method="POST">
        <label for="inputMachine" class="sr-only mb-2">MACHINE</label>
        <select class="form-control" id="inputMachine" name= "inputMachine">
            <option value="" selected="selected">Select a Machine</option>
            {% for i in machine %}
            <option value='{{i.mac_code}}'>{{i.mac_name}}</option>
            {% endfor %}
        </select><br>
                    
        <label for="start">Maintenance Type: &emsp;</label><br><br>
        <input type="radio" id="Preventive" name="main" id="PR" value="Preventive">
        <label for="Preventive">Preventive</label>&emsp;&emsp;
        <input type="radio" id="Breakdown" name="main" id="BR" value="Breakdown">
        <label for="Breakdown">Breakdown</label><br><br>

        <label for="Breakdown">Breakdown date:&nbsp;</label>
        <input type="datetime-local" id="breakDate" name="breakDate" value="2024-04-01T06:30" min="2022-01-01T00:00" max="2025-12-31T00:00"><br><br>

        <label for="start">Repair Start date:</label>
        <input type="datetime-local" id="startDate" name="startDate" value="2024-04-01T08:30" min="2022-01-01T00:00" max="2025-12-31T00:00"><br><br>

        <label for="end">Repair End date:&ensp;</label>
        <input type="datetime-local" id="endDate" name="endDate" value="2024-04-01T11:30" min="2023-01-01T00:00" max="2025-12-31T00:00"><br><br>

        <label for="prod">Production Loss Time: </label>
        <input type="number" name="productionTime" min="0" step="1" value="0" size="5">&nbsp;(min)<br><br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Maintenance</button>
    </form>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>