{% include 'navbar(signed).html' %}
<!-- Insert Category -->
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
      <h1 class="display-7 fw-bold text-center mb-2">ADD CATEGORY</h1>
      <form id="form-insert" action="" method="POST">
          
          <label for="inputCode" class="mb-2">Category Code</label>
          <input type="code" name="inputCode" id="inputCode" class="form-control" placeholder="Category Code" required autofocus /><br>
          
          <label for="inputName" class="mb-2">Category Name</label>
          <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Category Name" required autofocus /><br>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Add Category</button>      
      </form>
  </div>
</div>
{% include 'footer.html' %}
</body>
</html>