<!-- login.html -->
{% include 'navbar.html' %}

<body>
<div class="wrapper">    
<div class="container main">
    <div class="row">
        <div class="col-md-6 side-image"></div>
            <div class="col-md-6 right">
                <div class="input-box">
                    <div class="input-box">
                        <header>LOGIN</header>

                        <form action="{{ url_for('auth.login') }}" method="POST">
                            {{ form.hidden_tag() }}

                            <div class="input-field"><br>
                                <label>{{ form.email.label.text }}</label><br>
                                {{ form.email(size=32) }}<br>
                            </div>
                            <div class="input-field"><br>
                                <label type = "password" for="inputPassword" class="mb-2">{{ form.password.label.text }}</label><br>
                                {{ form.password(size=32) }}
                            </div>
                            <div class="signin">
                                <span><a href="/forget">Forget Password?</a></span>
                            </div><br>
                            <!-- <a href="/forget">Forget Password?</a><br><br> -->
                            <div class="input-field">
                                {{ form.submit() }}
                            </div> 
                        </form>

                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}