  <!-- NavBar -->
  {% include 'navbar(signed).html' %}

  <!-- Function to Visualise The DATA -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var data = google.visualization.arrayToDataTable([
              ['Machine Name', 'Total Maintenance Hours', 'Repair Hours', 'Production Loss Hours'],
              {% for row in data %}
              ['{{ row.mac_name }}', {{ row.total_break_hours }}, {{ row.repair_hours }}, {{ row.prod_loss_min/60 }}],
              {% endfor %}
          ]);

          var options = {
              chart: {
                  title: 'Maintenance Summary Graph',
                  titleTextStyle: {
                    fontSize: 18,
                    bold: true,
                    textAlign: 'center'
                  }
              },
              bars: 'vertical',
              vAxis: {format: 'decimal'},
              height: 400,
              colors: ['#1b9e77', '#d95f02', '#7570b3'],
              series: {0: { dataLabels: { format: '{v}', color: 'black', fontName: 'Arial', fontSize: 12 } }}
          };

          var chart = new google.charts.Bar(document.getElementById('chart_div'));

          chart.draw(data, google.charts.Bar.convertOptions(options));
      }
  </script>
</head>

<body>
  <!-- Data is being Visualized -->
  <div class="rounded-3 mb-4 p-5">
    <div id="chart_div"></div>
    {% include 'footer.html' %}
  </div>

</body>
</html>