{% include 'navbar(signed).html' %}

<div class="bg-light rounded-3 mb-4 p-5">
  <h2 class="display-7 fw-bold text-center mb-2">VIEW LOCATION</h2><br><br>
  <table class="table table-striped">
      <tr>
          <th scope="col">LOCATION CODE</th>
          <th scope="col">LOCATION NAME</th>
          <th scope="col">EDIT</th>
      </tr>
      {% for i in location %}
      <tr>
          <td>{{i.mac_loc_code}}</td>
          <td>{{i.mac_loc_name}}</td>
          <td>
            <a class="edit" title="Edit" href="{{url_for('editLocation',mac_loc_code=i.mac_loc_code)}}"><i class="fa-regular fa-pen-to-square"></i></a>&emsp;
          </td>
      </tr>
      {% endfor %}
  </table><br>
</div>

{% include 'footer.html' %}

</body>
</html>