{% include 'navbar(signed).html' %}

  <!-- Notifies the User -->
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="container">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}

  <div class="bg-light rounded-3 mb-4 p-5">
    <table class="table table-striped">
        <tr>
            <th scope="col">MACHINE CODE</th>
            <th scope="col">MACHINE NAME</th>
            <th scope="col">MACHINE DESCRIPTION</th>
            <th scope="col">MACHINE CATEGORY</th>
            <th scope="col">MACHINE LOCATION</th>
            <th scope="col">Actions</th>
        </tr>
        {% for row in machine %}
        <tr>
            <td>{{row.mac_code}}</td>
            <td>{{row.mac_name}}</td>
            <td>{{row.mac_desc}}</td>
            <td>{{row.mac_cat_name}}</td>
            <td>{{row.mac_loc_name}}</td>
            <td>
              <a class="edit" title="Edit" href="{{ url_for('views.editMachine', mac_code = row.mac_code) }}"><i class="fa-regular fa-pen-to-square"></i></a>&emsp;
              <a title="Delete" onclick="return confirm('Are you sure to delete?');"  href="{{ url_for('views.deleteMachine',mac_code=row.mac_code) }}"><i class="fa-regular fa-trash-can"></i></a>
            </td>
	    </tr>
        {% endfor %}
    </table>
  </div>
{% include 'footer.html' %}
</body>
</html>